/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My CSS */

html {height: 100%;}

body {
  height: 100%;
  color: #48120E;
  background-color: #F8F3E6;
}

header {
  width: 100%;
  text-align: center;
  color: #48120E;
}

#title {
  font-size: 500%;
  background-color: #F8F3E6;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

#topnav {
  font-size: 125%;
  background-color: #E7CC8F;
  border: 1px solid #48120E;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

#topnav a {
  text-decoration: none;
  color: #48120E;
  font-weight: bold;
}

#languages {
  float: left;
  background-color: #EFAA52;
  width: 10%;
  height: 110%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 1px solid #48120E;
  border-top: 0px;
}

#languages a {
  text-decoration: underline;
  font-weight: bold;
  color: #48120E;
}

.mainsect {
  float: right;
  position: relative;
  top: 3%;
  height: 120%;
  border: 1px solid #48120E;
  border-radius: 8px;
  background-color: #EFAA52;
  
  width: 95%;
  right: 2.5%;
  
  font-size: 110%;
  
}

.maintitle {
  position: relative;
  top: 2%;
  left: 1%;
  font-size: 300%;
  
  text-align: center;
}

#home {
  width: 85%;
  right: 2.5%;
}

#title-home {
	text-align: left;
}

footer {
  border-top: 1px solid #48120E;
  position: fixed;
  background-color: #AB3E16;
  width: 100%;
  height: 10%;
  bottom: 0;
  text-align: center;
  color: #E7CC8F;
}

footer small {
  position: relative;
  top: 12.5%;
  width: 100%;
  display: inline-block;
  text-decoration: none;
}

footer #backtotop {
  position: relative;
  top: 25%;
  width: 100%;
  font-weight: bold;
  color: #E7CC8F;
}

footer nav {
  position: relative;
  top: 37.5%;
}

footer nav a {
  text-decoration: none;
  color: #E7CC8F;
  font-weight: bold;
}

footer img {
  height: 25%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
}

article {
  position: absolute;
  top: 12.5%;
  left: 1%;
  right: 1%;
}

h3 {
  font-size: 150%;
  text-decoration: underline;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color: #48120E;
}
